<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Milliygram.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/mdb/css/mdb.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" crossorigin="anonymous" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Milliygram.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <style>
        .page-wrapper.toggled #sidebar {
            display: block;
        }

        #sidebar {
            display: none;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid" style="margin-left: 1%">
                <a class="navbar-brand" asp-area="" asp-controller="Users" asp-action="Index">Milliygram</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ms-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="fa fa-bell"></i>
                                    <span class="badge badge-pill badge-warning notification">0</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="fa fa-envelope"></i>
                                    <span class="badge badge-pill badge-success notification">0</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Accounts" asp-action="Logout">
                                    <i class="fa fa-power-off"></i>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="page-wrapper chiller-theme">
            <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
                <i class="fas fa-bars"></i>
            </a>

            <nav id="sidebar" class="sidebar-wrapper">
                <div class="sidebar-content">
                    <div class="sidebar-brand">
                        <a asp-controller="Users" asp-action="Index">Milliygram</a>
                        <div id="close-sidebar">
                            <i class="fas fa-times"></i>
                        </div>
                    </div>
                    <div class="sidebar-header">
                        <div class="user-pic">
                            @if (ViewBag.User?.Picture is null)
                            {
                                <img class="img-responsive img-rounded" src="https://assets.leetcode.com/users/default_avatar.jpg"
                                     alt="User picture">
                            }
                            else
                            {
                                <img class="img-responsive img-rounded" src=@ViewBag.User.Picture.Path
                                     alt="User picture">
                            }
                        </div>
                        <div class="user-info">
                            <span class="user-name">
                                @ViewBag.User?.FirstName
                                <strong>@ViewBag.User?.LastName</strong>
                            </span>
                            <span class="user-role">@ViewBag.User?.UserName</span>
                            <span class="user-status">
                                <i class="fa fa-circle"></i>
                                <span>Online</span>
                            </span>
                        </div>
                    </div>
                    <div class="sidebar-menu">
                        <ul>
                            <li class="header-menu">
                                <span>General</span>
                            </li>
                            <li class="sidebar-dropdown">
                                <a href="/Users/Profile">
                                    <i class="fas fa-user"></i> <!-- Profile icon -->
                                    <span>Profile</span>
                                </a>
                            </li>
                            <li class="sidebar-dropdown">
                                <a href="#">
                                    <i class="fas fa-users"></i> <!-- New Group icon -->
                                    <span>New Group</span>
                                    <span class="badge badge-pill badge-warning">New</span>
                                </a>
                            </li>
                            <li class="sidebar-dropdown">
                                <a href="#">
                                    <i class="fas fa-user-friends"></i> <!-- Friends icon -->
                                    <span>Friends</span>
                                </a>
                            </li>
                            <li class="sidebar-dropdown">
                                <a href="/Users/Settings">
                                    <i class="fas fa-cog"></i> <!-- Settings icon -->
                                    <span>Settings</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="main-content">
                <div class="container">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    }

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Milliygram
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/mdb/js/mdb.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var pageWrapper = document.querySelector('.page-wrapper');
            var showSidebarBtn = document.getElementById('show-sidebar');
            var closeSidebarBtn = document.getElementById('close-sidebar');

            showSidebarBtn.addEventListener('click', function (e) {
                e.preventDefault();
                pageWrapper.classList.add('toggled');
            });

            closeSidebarBtn.addEventListener('click', function (e) {
                e.preventDefault();
                pageWrapper.classList.remove('toggled');
            });
        });
    </script>
</body>
</html>
