@using Milliygram.Service.DTOs.Users
@model UserUpdateModel

<div class="py-3 pb-4 border-bottom">
    <h4 class="pb-4 border-bottom">Account settings</h4>
    @* Display service error *@
    @if (ViewData["ServiceError"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>@ViewData["ServiceError"]</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <div class="d-flex align-items-center">
        <!-- Show current profile image -->
        <div class="me-4">
            <img src="" class="rounded-circle" alt="Profile Image" width="150" height="150">
        </div>
        <!-- Upload Image Form -->
        <div>
            <form asp-action="UploadImage" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-12">
                        <label for="profileImage">Profile Image</label>
                        <input type="file" class="form-control mb-2" id="profileImage" name="file" accept="image/*" required>
                        <button class="btn btn-primary mt-2" type="submit">Upload Image</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <form asp-action="Settings" method="post" class="form-border-0">
        <div class="py-2">
            <div class="row py-2">
                <div class="col-md-6">
                    <label for="FirstName">First Name</label>
                    <input type="text" class="bg-light form-control" asp-for="FirstName" placeholder="@Model.FirstName">
                </div>
                <div class="col-md-6 pt-md-0 pt-3">
                    <label for="LastName">Last Name</label>
                    <input type="text" class="bg-light form-control" asp-for="LastName" placeholder="@Model.LastName">
                </div>
            </div>
            <div class="row py-2">
                <div class="col-md-6">
                    <label for="UserName">User Name</label>
                    <input type="text" class="bg-light form-control" asp-for="UserName" placeholder="@Model.UserName">
                </div>
                <div class="col-md-6 pt-md-0 pt-3">
                    <label for="Detail_Bio">Bio</label>
                    <input type="text" class="bg-light form-control bio-button" asp-for="Detail.Bio" placeholder="@Model.Detail.Bio">
                </div>
            </div>
            <div class="row py-2">
                <div class="col-md-6">
                    <label for="Detail_DateOfBirth">Date of Birth</label>
                    <input type="date" class="bg-light form-control" asp-for="Detail.DateOfBirth" placeholder="@Model.Detail.DateOfBirth?.ToString("yyyy-MM-dd")">
                </div>
                <div class="col-md-6 pt-md-0 pt-3">
                    <label for="Detail_Location">Location</label>
                    <input type="text" class="bg-light form-control" asp-for="Detail.Location" placeholder="@Model.Detail.Location">
                </div>
            </div>
            <div class="py-3 pb-4 border-bottom">
                <button class="btn btn-primary mr-3" type="submit">Save Changes</button>
                <button class="btn border button" type="button">Cancel</button>
            </div>
        </div>
    </form>
</div>
<br />
<br />
<br />
